body {
  background: linear-gradient(to right, #f857a6, #ff5858);
}


.form {
flex-direction: column;
display: flex;
}

task-form {
  background-color: white;
  height: auto;
  min-width: 274px;
  right: 0 auto;
  margin: 100px auto;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border-radius: 4px;
}

.store {
  position: absolute;
  margin-top: 45px;
  font-size: 13px;
  padding-left: 19px;
  font-family: 'Open Sans';
  font-weight: 300;
}
.list{
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 20px;
  float: left;
  padding-left: 19px;
  display: flex;
}

.add {
  font-family: 'Open Sans';
  font-weight: 300;
  left: 7%;
  width: 233px;
  height: 25px;
  border-radius: 3px;
  margin-left: 16px;
  margin-bottom: 8px;
  border-color: #eee;
}

.filter {
  font-family: 'Open Sans';
  font-weight: 300;
  justify-content: center;
  width: 233px;
  height: 25px;
  border-radius: 3px;
  margin-left: 16px;
  border-color: #eee;
}

li{
  font-family: 'Open Sans';
  font-weight: 300;
  position: relative;
  font-size: 14px;
}

/*ol {
  transition: 0.5s;
}*/
input{
  border: solid 1px;
}
button {
  font-family: 'Open Sans';
  font-weight: 300;
  background-color: rgb(247, 191, 202);
  justify-content: center;
  width: 238px;
  height: 33px;
  color: #eee;
  border-radius: 3px;
  margin-left: 14px;
  margin-bottom: 20px;
  border: none;
  /*transition: 0.5s;*/
}
/*
ol:hover {
  background-color: #bbb;
}*/

.material-icons {
  position: absolute;
  right: 26px;
}

.material-icons:hover{
  color: #ff0000;
  cursor: pointer;
}
/*button:hover{
  background-color: #ff69b4;
}*/
